.contents.row{
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
  .content_post{
    width: 500px;
    
  }
  
  .success{
    font-family: 'Courier New', Courier, monospace;


  }
}