.contents.row{
  display: flex;
  justify-content: space-around;
  align-items: center;
  .content_post{
    width: 500px;
  }
  
  .success{
    font-family: 'Courier New', Courier, monospace;


  }
}