.footer{
  background:#1a1a1a;
  height: 40px;
  font-family: 'Montserrat Subrayada', sans-serif;
  color: white;
  display: flex;
  font-size: 18px;
  line-height: 30px;
  .footer_logo{
    margin: 5px auto;
  }
}
