%p= button_to "ログイン", new_user_session_path, method: :get
%p= button_to"新規登録", new_user_registration_path, method: :get
%p= button_to "ゲストユーザー", tweets_path, method: :get
%p= button_to 'Signin with Google', user_omniauth_authorize_path, method: :get
.main
  旅行先などの写真を
  位置情報付きで投稿できる写真投稿サイトです。