.notification {
  font-family: cursive;
  .notice {
    background-color:skyblue;
    color:white;
    text-align: center;
  }

  .alert {
    background-color:rgb(250, 8, 8);
    color: white;
    text-align: center;
  }
}