.content_post{
  .more{
    .more_list{      
      margin-top: 390px;
      display: flex;
      justify-content: space-between;
      li{
        background:white;
        text-align: center;
        line-height: 25px;
        margin: 3px;
        cursor: pointer;
        border-radius: 5px;
        a, a:hover, a:visited{
          color:rgb(64, 120, 241);
          text-decoration: none;
        }
      }
    }
  }
  p {

    margin-top:400px ;
    font-size: 15px;
    height: 30px;
    width: 150px;
    text-align: center;
    line-height: 30px;
    color:rgb(64, 120, 241);
    background-color: white;
    border-radius: 5px;
  }
  .name{
    margin-top: 370px;
    background: white;
    height: 25px;
    border-radius: 5px;
    a, a:hover, a:visited{
      color:rgb(64, 120, 241);
      text-decoration: none;
    }

  }
}
.main_block{
  text-align: center;
  width: 200px;
  font-family: 'Montserrat Subrayada', sans-serif;
  .block1{
    border-left : solid 3px rgb(55, 192, 247);
    border-bottom : solid 1px rgb(59, 191, 243);
    height: 30px;
    border-radius: 5px;
    margin-top: 50px;
    line-height: 30px;
    
  }
  .block2{
    border-left : solid 3px rgb(54, 188, 241);
    border-bottom : solid 1px rgb(43, 189, 247);
    height: 30px;
    border-radius: 5px;
    margin-top: 50px;
    line-height: 30px;
    text-align: center;
  }
  .block3{
    height: 30px;
    border-radius: 5px;
    margin-top: 50px;
    border-left : solid 3px rgb(35, 183, 241);
    border-bottom : solid 1px rgb(37, 185, 243);
    line-height: 30px;
  }
  .block4{
    font-family: 'Montserrat Subrayada', sans-serif;
    height: 30px;
    line-height: 30px;

  }
}
